{% extends 'base.html.twig' %}

{% block title %}Edit Constructor{% endblock %}

{% block body %}
    <h1>Edit Constructor</h1>

    {{ include('admin/admin_constructor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('constructor_index') }}">back to list</a>

    {{ include('admin/admin_constructor/_delete_form.html.twig') }}
{% endblock %}
