{% extends 'admin/layout.html.twig' %}

{% block title %}Modification du constructeur
{% endblock %}

{% block body %}
	<div class="container">
		<a class="btn btn-primary mt-4 mb-2" href="{{ path('admin_constructor') }}">
			<i class="fas fa-arrow-left"></i>
			Retour à la liste</a>
		<h1 class="mt-4 mb-4">Modification du constructeur</h1>
		<div class="card p-4 mt-4 bg-light">
			{{ include('admin/admin_constructor/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		</div>
	</div>
{% endblock %}
