{% extends 'admin/layout.html.twig' %}

{% block title %}New Constructor{% endblock %}

{% block body %}
    
<div class="container divadmin">
<h1>Nouveau constructeur</h1>
    {{ include('admin/admin_constructor/_form.html.twig') }}

    <a class="btn btn-primary mt-2" href="{{ path('admin_constructor') }}">Retour</a>
    </div>
{% endblock %}
