{% extends 'base.html.twig' %}

{% block title %}New Constructor{% endblock %}

{% block body %}
    <h1>Create new Constructor</h1>
<div class="container divadmin">
    {{ include('admin/admin_constructor/_form.html.twig') }}

    <a href="{{ path('constructor_index') }}">back to list</a>
    </div>
{% endblock %}
