{% extends 'layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<section>
<div class="container">
    <h1>Mentions Légales</h1>
    <p>Ceci est la page de mentions légales</p>
    </div>
    </section>
{% endblock %}