{% extends 'admin/layout.html.twig' %}

{% block title %}Forum de discussion
{% endblock %}

{% block body %}
	<div class="container divadmin">
		<h1 class="mb-4 mt-2">Sujets du forum</h1>


		<table class="table">
			<thead>
				<tr>
					<th>Sujet</th>
					<th>Auteur</th>
					<th>Crée le</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for message_forum in message_forums %}
					<tr>

						<td>{{ message_forum.subject }}</td>
						<td>{{ message_forum.author.pseudo}}</td>
						<td>{{ message_forum.createdAt|date('Y-m-d H:i:s')}}</td>
						<td>
							{{ include('admin/admin_forum/_delete_form.html.twig') }}

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
        </div>
	{% endblock %}
