@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap');
body {
    width: 100vw;
    min-height: 90vh;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url("/img/bg.png");
    background-repeat: repeat-y;
    overflow-x: hidden;
}

.divadmin {
    background-color: #f1f1f1;
    padding: 2%;
    margin-bottom: 10vh;
}

.admin {
    margin: 2%;
}

.front {
    margin-bottom: 5%;
    min-height: 50vh;
}

h1 {
    margin-bottom: 5%;
    margin-top: 3%;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    color: #050750;
}

footer {
    width: 100vw;
}

footer .text-center {
    background-color: #3b3838b4;
    color: #f1f1f1;
}

nav {
    height: 15vh;
    background-color: #3b383881 !important;
}

.nav-link {
    color: #f1f1f1 !important;
}

.nav-link:hover {
    color: #050750 !important;
}

.navbar-brand {
    color: #f1f1f1 !important;
    font-size: 35px !important;
    font-weight: 800;
    margin-left: 2%;
}

.navbar-brand:hover {
    color: #050750;
}

.recherche {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.recherche li {
    list-style: none;
}

.nodeco {
    list-style: none;
}

.card {
    border: 1px solid rgb(187, 183, 183);
    /* border-radius: 15px; */
    margin-bottom: 4vh;
}


/* .accueil {
    border-top-left-radius: 9%;
    border-bottom-left-radius: 9%;
} */

.account {
    cursor: pointer;
}

.category {
    width: 100%;
    margin-left: 5% !important;
    min-height: 100%;
}

.category-home div {
    margin: 0 auto;
    margin-bottom: 6% !important;
}

.constructor {
    width: 30vw;
}

.article,
.constructor {
    margin: 0 auto;
    width: 80%;
    border-radius: 0;
}

.show-article {
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    background-size: contain;
    width: auto;
    height: 400px;
}

.comment h3 {
    text-align: center;
}

.card-header h3 {
    font-size: 20px !important;
    text-align: center;
}

.response {
    margin-left: 8%;
}

.avatar {
    border-radius: 50%;
    height: 5vh;
    width: 3vw;
    margin-left: 2%;
}

.subject {
    background-color: #d3d3d3a6;
    font-weight: bold;
}

.spanmargin {
    margin-left: 2%;
}

.inline {
    display: inline-block;
    margin-left: 60%;
}

.userName {
    color: #f1f1f1 !important;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(79, 80, 82);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #020202;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}