{% extends 'layout.html.twig' %}

{% block title %}Ajoute ta chaîne Twitch!
{% endblock %}

{% block body %}
	<div class="container">	
{# <a class="btn btn-primary mt-2 mb-2" href="{{ path('') }}">Retour</a> #}
		<div class="row">
			<div class="col"></div>
			<div class="col-6 card p-4 mt-4 bg-light">
				<h1 class="mt-4">Renseigne ta chaîne Twitch!</h1>

				{{ include('author_profile/_form.html.twig', {'button_label': 'Ajouter'}) }}

			</div>
			<div class="col"></div>
		</div>
	</div>
{% endblock %}
