{% extends 'layout.html.twig' %}

{% block title %}Edit Biography
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col-6">
				<h1>Edition</h1>

				{{ include('author_profile/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

				{# <a class="btn btn-primary mt-2 mb-2" href="{{ path('') }}">Retour</a> #}
			</div>
			<div class="col"></div>
		</div>
	</div>
{% endblock %}
