{% extends 'layout.html.twig' %}

{% block title %}Nouveau sujet
{% endblock %}

{% block body %}
	<h1>Créer un nouveau sujet</h1>
	<div class="container">
		{{ include('message/_form.html.twig') }}

		<a href="{{ path('subject_index') }}">back to list</a>
		</div>
{% endblock %}
