<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Jeux Lag'</h5>

        <p>
          Retrouvez les meilleures reviews de jeux vidéos!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Accès rapide</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="{{path('mentions-legales')}}" class="text-dark">Mentions Légales</a>
          </li>
          <li>
            <a href="{{path('cgu')}}" class="text-dark">C.G.U</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Utilisateur</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Mon compte</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
         
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright:
    <a class="text-dark" href="#">Jeux Lag'</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->