{% extends 'admin/layout.html.twig' %}

{% block title %}Edition Jeu{% endblock %}

{% block body %}
    
<div class="container divadmin">
<h1>Edition Jeu</h1>
    {{ include('admin/admin_game/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-primary mb-2" href="{{ path('admin_game') }}">Retour</a>

    {{ include('admin/admin_game/_delete_form.html.twig') }}
    </div>
{% endblock %}
