{% extends 'admin/layout.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
<div class="container"> 
   <h1>Ajouter un nouveau jeu</h1>

    {{ include('admin/admin_game/_form.html.twig') }}

    <a href="{{ path('admin_game') }}">back to list</a>
    </div>
{% endblock %}
