{% extends 'admin/layout.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
 
<div class="container">
{% if is_granted ('ROLE_ADMIN') %}
    <a class="btn btn-primary admin" href="{{ path('article_index') }}">Retour à la liste</a>
    
    {% elseif is_granted ('ROLE_AUTHOR') %}
    <a class="btn btn-primary admin" href="{{ path('article_index',{'id': app.user.id}) }}">Retour à la liste</a>
    {% endif %}
<h1 class="mb-4 surligner">Nouvelle review</h1>
    {{ include('admin/article/_form.html.twig') }}

    </div>
{% endblock %}
