{% extends 'layout.html.twig' %}

{% block title %}Console index
{% endblock %}

{% block body %}
	<h1>Les Consoles</h1>
	<div class="container front">
		<div class="card-group">
			{% for constructor in constructors %}
				<div class="card constructor">
					<img src="/uploads/{{ constructor.cover }}" class="card-img-top" height="300px"alt="">
					<div class="card-body">
						<p class="card-text">Retrouvez ici les consoles produites par
							{{ constructor.name }}
						</p>

						<div class="accordion" id="accordionExample">
							{% for console in constructor.consoles %}
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
										<button class="accordion-button" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											{{ console.name }}
										</button>
									</h2>
									<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
										<div class="accordion-body">

											<img src="/uploads/{{ console.cover }}">


										</div>
									</div>
								</div>
							{% endfor %}

						</div>
					</div>
				</div>
				{% endfor %}

		</div>

	</div>
	{% endblock %}
