{% extends 'layout.html.twig' %}

{% block title %}Console index
{% endblock %}

{% block body %}
	<h1>Les Consoles</h1>
	<div class="container front">
		<div class="card-group">
			{% for constructor in constructors %}
				<div class="card constructor">
					<img src="/uploads/{{ constructor.cover }}" class="card-img-top" alt="">
					<div class="card-body">
						<p class="card-text">Retrouvez ici les consoles produites par
							{{ constructor.name }}
							</p>

								<ul class="list-group list-group-flush">

									{% for console in constructor.consoles %}

										<li class="list-group-item">{{ console.name }}</li>
									{% endfor %}
								</ul>
								<div class="card-body">
									<a href="#" class="card-link">Card link</a>
								</div>
							</div>
						</p>
					</div>
		{% endfor %}
		</div>
			
		</div>
	{% endblock %}
