{% extends 'layout.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="container">
		<a class="btn btn-primary mt-4 mb-2" href="{{ path('user_show',{'id': user.id}) }}">
			<i class="fas fa-arrow-left"></i>
			Retour à mon profil</a>
		<h1 class="mt-4 mb-4 text-center">Modifier mes données</h1>

		<div class="row">
			<div class="card p-4 col-md-6 offset-md-3 d-flex justify-content-center">
				{{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

			</div>
		</div>
	</div>
{% endblock %}
