{% extends 'layout.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
<div class="container">
<a class="btn btn-primary mt-2 mb-2" href="{{ path('user_show',{'id': user.id}) }}">Retour à mon profil</a>
	<h1>Modifier mes données</h1>
	
		<div class="row">
			<div class=".col-md-6 .offset-md-3 d-flex justify-content-center">
				{{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

			</div>
		</div>
	</div>
{% endblock %}
